<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}"> 
    {%  block head %}{% endblock %} 
</head>
<body>
    {%  block body %}{% endblock %}
</body>
</html> 