{%  extends 'base.html'  %}

{%  block head %}

{% endblock %}

{%  block body %}

<div class="content">
    <h1> Task Master </h1>
    
    {% if tasks|length < 1 %}
    <h4> There are no tasks created below !</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td> {{ task.content }}</td>
                <td> {{ task.date_created.date() }} </td>
                <td> 
                    <a href="/delete/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ task.id }}">update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name = "content", id="content">
        <input type = "submit" value = "Add Task"> 
    </form>
</div>
{% endblock %}