{%  extends 'base.html'  %}

{%  block head %}

{% endblock %}

{%  block body %}

<div class="content">
    <h1> Update Master </h1>
    
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td> {{ task.content }}</td>
                <td> {{ task.date_created.date() }} </td>
                <td> 
                    <a href="/delete/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ task.id }}">update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name = "content", id="content" value="{{ task.content }}">
        <input type = "submit" value = "update"> 
    </form>
</div>
{% endblock %}